.bank-container {
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.create-button {
  background-color: #10b981;
  border-color: #10b981;
  color: white;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.create-button:hover {
  background-color: #0a9c67;
}

.bank-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%; /* Adjust width to ensure two fields fit per row */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}
