.configuration-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tab-layout {
  display: flex;
}

.custom-tabs {
  width: 200px; /* Set the width of the tab section */
}

.tab-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px; /* Add space between the tabs and content */
  width: 100%;
}
